asgiref==3.9.1
certifi==2025.7.14
channels==4.2.2
channels_redis==4.3.0
charset-normalizer==3.4.2
Django==5.2.4
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
idna==3.10
msgpack==1.1.1
PyJWT==2.10.1
PySocks==1.7.1
python-decouple==3.8
redis==6.2.0
requests==2.32.4
sqlparse==0.5.3
urllib3==2.5.0
websocket-client==1.8.0
psycopg[binary]
gunicorn
